# Google Apps Script Web App Endpoint URL
# Ganti dengan URL deployment Web App Google Apps Script Anda (akhiri dengan /exec)
VITE_GAS_API_URL=https://script.google.com/macros/s/YOUR_GAS_DEPLOYMENT_ID/exec

# Kata Sandi Panel Admin
VITE_ADMIN_PASSWORD=
